.footer {
    width: 100%;
    height: 25%;
    background: gray
}

.footer-container {
    max-width: 3000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;

}

.footer .left {
    height: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

footer .right {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.footer h4 {
    font-size: 1.rem;
    padding: 1rem 0;
}

.footer p {
    font-size: 1.2rem;
    padding: 1rem 0;
}




@media screen and (max-width:640px) {
    .footer-container {
        grid-template-columns: 1fr;
}

.right .social {
    margin: right;
}
}