#video {
    position: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .hero {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  
  .hero .content{
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 80vh;
  
  }

  .hero .content h1 {
    font-size: 4rem;
    color: #fff;
  }

  .hero p {
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    color: #fff;
  }